iframe {
    width: 670px;
    height: 500px;
    margin: 0 auto;
    background-color: transparent;
    display:block;
    border:none;
}

body {
	margin: 0 auto;
	background-color:black;
}

.header-div {
	background-image: url(images/white-grid.png);
	background-size: 30px;
	background-position: left;
	background-repeat: repeat;
}

.center-div {
	width: auto;
	background-color: #fff032;
	background-image: url(images/wiz-full.svg), url(images/evil-wiz-full-1.png), url(images/yellow-grid.png);
	background-size: 450px, 450px, 30px;
	background-position: left, right, left;
	background-repeat: no-repeat, no-repeat, repeat;
}

.footer-div {
	background-color:black;
	bottom: 0px;
}

.cheeze-wizards-logo {
	width: 300px;
	position: absolute;
	left: 0;
	margin: 50px;
}

.slice {
	width: 668px;
	margin: 0 auto;
	padding-top: 15px;
	display:block;
	background-color:transparent;
	float: middle;
}

.drip {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	display:block;
	float: left;
}

.donate-table {
	padding-top: 10px;
	padding-bottom: 10px;
	display:block;
	float: middle;
	bckground-color:black;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }